
<div class="container">

  <form class="search-form" [formGroup]="searchForm">

    <mat-form-field appearance="outline">
      <mat-label>Departure city</mat-label>
      <input formControlName="departure" matInput placeholder="City...">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Destination city</mat-label>
      <input formControlName="destination" matInput placeholder="City...">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Flight date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="date">
      <mat-datepicker-toggle placeholder="dd/MM/yyyy" matSuffix
                             [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Flight hour</mat-label>
      <input formControlName="hour" type="number" min="0" max="23" matInput placeholder="City...">
    </mat-form-field>

    <button mat-raised-button [disabled]="searchForm.invalid" (click)="search()">Search</button>

  </form>


  <div class="rows" *ngIf="tickets && tickets.length > 0">

    <mat-card class="example-card" *ngFor="let ticket of tickets">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ticket.name}}</mat-card-title>
        <mat-card-subtitle>{{ticket.city }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ticket.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <h3>{{ticket.price | currency}}</h3>
        <button mat-raised-button (click)="addBooking(ticket)">Add booking</button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
