<br>
<h2 align="center">Cart</h2>
<br>
<h4 *ngIf="!bookings || bookings.length === 0">No bookings yet</h4>
<div class="bookings-container" *ngIf=" bookings.length > 0">
  <mat-card class="example-card" *ngFor="let booking of bookings">
    <mat-card-header>
      <mat-card-title>
        <span *ngIf="booking.product.type === 'HOTEL'">{{booking.product.name}}</span>
        <span *ngIf="booking.product.type === 'TICKET'">{{booking.product.company}}</span>
      </mat-card-title>
      <mat-card-subtitle>{{booking.product.type}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{booking.product.description}}<br>
        Price:  {{booking.product.price | currency}} <br>
        <span *ngIf="booking.product.type === 'HOTEL'">Total price: {{getDaysBetween(booking.startDate, booking.endDate) * booking.product.price | currency}}</span>
      </p>
      <button mat-raised-button (click)="deleteItem(booking)">Delete</button>
    </mat-card-content>
  </mat-card>
  <br>
  <button mat-raised-button color="primary" (click)="confirmOrder()">Confirm order</button>
</div>
