
<div class="container">

  <form class="search-form" [formGroup]="searchForm">

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input formControlName="city" matInput placeholder="City...">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="startDate">
      <mat-datepicker-toggle placeholder="dd/MM/yyyy" matSuffix
                             [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="endDate">
      <mat-datepicker-toggle placeholder="dd/MM/yyyy" matSuffix
                             [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button [disabled]="searchForm.invalid" (click)="search()">Search</button>

  </form>


  <div class="rows" *ngIf="cityBreaks && cityBreaks.length > 0">

    <mat-card class="example-card" *ngFor="let cityBreak of cityBreaks">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{cityBreak.name}}</mat-card-title>
        <mat-card-subtitle>{{cityBreak.city }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{cityBreak.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <h3>{{cityBreak.price | currency}}</h3>
        <button mat-raised-button (click)="addBooking(cityBreak)">Add booking</button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
